<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Niugu.Community.Common 使用 End -->
    <!--短信通道：0=漫道科技（北京），1=互亿无线（上海）,2=卓望（北京）-->
    <add key="MessageChannel" value="0" />
    <add key="logpath" value="D:\logrecord\user.niuguwang.com\Api_webapi\" />
  </appSettings>
  <connectionStrings>
    <add name="DB_LiveUserConnection" connectionString="Data Source=47.52.193.42;Initial Catalog=DB_Live;User ID=sa;Password=Hevin123!;Persist Security Info=False;Max Pool Size=100" providerName="System.Data.SqlClient" />
    <add name="DB_UserConnection" connectionString="Data Source=mssql.niuguwang;Initial Catalog=DB_User;User ID=usr;Password=ypatd2QrF4BVEo;Persist Security Info=False;Max Pool Size=100" providerName="System.Data.SqlClient" />
    <add name="DB_LiveOldUserConnection" connectionString="Data Source=47.52.193.42;Initial Catalog=VinV;User ID=sa;Password=Hevin123!;Persist Security Info=False;Max Pool Size=100" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
        <binding name="wmgwSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sdk2.entinfo.cn:8061/webservice.asmx" binding="customBinding" bindingConfiguration="WebServiceSoap12" contract="EntinfoServiceReference.WebServiceSoap" name="WebServiceSoap12" />
      <endpoint address="http://211.100.34.185:8016/MWGate/wmgw.asmx" binding="basicHttpBinding" bindingConfiguration="wmgwSoap" contract="MengWangWebServer.wmgwSoap" name="wmgwSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
