<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>

  </configSections>
  <connectionStrings>
    <add name="DB_LiveConnection" connectionString="Data Source=192.168.2.56;Initial Catalog=DB_Live;User ID=liveu;Password=dr8UEjt9hJ0Dsy;Persist Security Info=False;Max Pool Size=100" providerName="System.Data.SqlClient" />
    <!--<add name="DB_LiveConnection" connectionString="Data Source=liveu.mssql.niuguwang;Initial Catalog=DB_Live;User ID=liveu;Password=dr8UEjt9hJ0Dsy;Persist Security Info=False;Max Pool Size=100" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="logpath" value="D:\logrecord\live.niuguwang.com\liveroom\" />

    <!-- 运营图片上传保存虚拟目录根路径 -->
    <add key="MaintenanceSaveRootFolder" value="\\filei0a.niuguwang\www\i0a" />
    <add key="MaintenanceRootFolder" value="" />
    <add key="MaintenancePhotoDomain" value="i0a.niuguwang.com" />

    <!-- 允许上传文件的扩展名 -->
    <add key="PhotoExtension" value=".jpeg.jpg.gif.png" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>